{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Вход</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary">Войти</button>
            </div>
        </form>
            <small class="text-muted">
                <p class='text'><a class="nav-link active" style="color: #75FFFF" aria-current="page" href="{% url 'register' %}">Нет аккаунта?</a></p>
            </small>
    </div>
{% endblock content %}