{% extends "base.html" %}

{% block content %}
    <div>
        <body>
            <p class='text'><a class="nav-link active" style="color: #75FFFF" aria-current="page" href="{% url 'main' %}">Новая игра</a></p>
            <p class='text'><a class="nav-link active" style="color: #75FFFF" aria-current="page" href="{% url 'main' %}">Новая игра</a></p>
            <p class='text'><a class="nav-link active" style="color: #75FFFF" aria-current="page" href="{% url 'change_password' %}">Профиль</a></p>
            <p class='text'><a class="nav-link active" style="color: #75FFFF" aria-current="page" href="{% url 'login' %}">Выйти</a></p>
        </body>
    </div>
{% endblock %}